# Absolute paths and credentials have been replaced with placeholders in the example.env file. Update the values in your .env file accordingly.
FILELIST_USERNAME = "PLACEHOLDER"
FILELIST_PASSWORD = "PLACEHOLDER"
DOWNLOAD_DIR = "PLACEHOLDER"
UTORRENT_USERNAME = "PLACEHOLDER"
UTORRENT_PASSWORD = "PLACEHOLDER"
UTORRENT_URL = "PLACEHOLDER"
UTORRENT_LOCATION = "PLACEHOLDER"
REDPANDA_USERNAME = "PLACEHOLDER"
REDPANDA_PASSWORD = "PLACEHOLDER"