# Absolute paths and credentials have been replaced with placeholders in the example.env file. Update the values in your .env file accordingly.
SOURCES_SITE_USERNAME = ""
SOURCES_SITE_PASSWORD = ""
SOURCES_SITE_URL = ""
DOWNLOAD_DIR = ""
UTORRENT_USERNAME = ""
UTORRENT_PASSWORD = ""
UTORRENT_URL = ""
UT_LOCATION = ""
REDPANDA_URL = ""
REDPANDA_USERNAME = ""
REDPANDA_PASSWORD = ""